body{
    background-color: rgb(244, 238, 215);
}

pre {
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
}

.lugar {
    font-size: 18px ;
    color: rgb(13, 94, 0);
}

thead {
    background-color: rgb(255, 171, 52);
}

table {
    border-style:groove;
    background-color: aliceblue;
    

}

thead, th, td {
    border: 1px solid black;
    text-align: center;
    }


