header { /*La cabecera */
    background-color:rgb(155, 205, 220);
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    width: 85%;
    margin: auto;
}

nav a { /*Los links*/
    float: left;
    display: block; /*esto no se lo que es*/
    color: #f2f2f2;
    text-align: center;
    padding: 17px 30px;
    
}

nav a:hover { /*Lo que hace cuando se pasa el raton por encima de nav*/
    background-color: #cfe1e6;
    color: black;
}

nav { /*La barra de navegación*/
    overflow:auto;
    background-color: #001337;
    
    
}

.bloque { /*Para crear la configuración de cada columna*/
    float:left;
    width: 30%;
    padding: 8%;
    background-color: pink;
    border: 2px solid rgb(255, 0, 166);
}

.columna::after {
    content: " ";
    display: table;
    clear: both;
}

